@use '../../styles/settings';

// Layout
#drawer {
  top: settings.$header-height - 1;
  background: settings.$brand-color;
  width: settings.$drawer-width;
  left: -(settings.$drawer-width);
  overflow-y: auto;
  position: fixed;
  max-height: settings.$drawer-max-height;
  z-index: settings.$layer-top-elements;
  transition: settings.$transtion-drawer;
  border-radius: 0 0 settings.$base-rounded-corners 0;
  padding-bottom: settings.$base-rounded-corners;

  &.active {
    left: 0;
  }

  // Link Styles
  ul {
    display: flex;
    flex-direction: column;
    border-top: 1px solid settings.$color-white;
  }

  li {
    border-bottom: 1px solid settings.$color-white;
    transition: settings.$transtion-drawer;

    &.active,
    &:hover {
      background: settings.$color-black;
    }

    a {
      display: block;
      padding: settings.$base-unit-half;
    }
  }
  @include settings.breakpoint(tablet) {
    width: settings.$drawer-width * 1.5;
    left: -(settings.$drawer-width) * 1.5;
  }
  @include settings.breakpoint(laptop) {
    width: settings.$drawer-width * 2;
    left: -(settings.$drawer-width) * 2;
  }
}
