@use '../styles/settings';

.wrapper {
  max-width: settings.$wrapper-width;
  margin: 0 auto;
}
main {
  padding-top: settings.$header-height;
  z-index: settings.$layer-main-body;
  height: 100%;
}

#lifetracker,
#app-container,
.main-content-lifetracker  {
  height: 100%;
  position: relative;
}
